commonLabels: {}
commonAnnotations: {}
kserve:
  llmisvc:
    controller:
      image: kserve/llmisvc-controller
      tag: ''
      imagePullPolicy: IfNotPresent
      imagePullSecrets: []
      labels: {}
      podLabels: {}
      annotations: {}
      podAnnotations: {}
      serviceAnnotations: {}
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
        privileged: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      metricsBindAddress: 127.0.0.1
      metricsBindPort: '8443'
      nodeSelector: {}
      tolerations: []
      topologySpreadConstraints: []
      affinity: {}
      resources:
        limits:
          cpu: 100m
          memory: 300Mi
        requests:
          cpu: 100m
          memory: 300Mi
      replicas: 1
      strategy:
        type: RollingUpdate
        rollingUpdate:
          maxSurge: 1
          maxUnavailable: 0
      livenessProbe:
        enabled: true
        initialDelaySeconds: 30
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 5
        httpGet:
          path: /healthz
          port: 8081
      readinessProbe:
        enabled: true
        initialDelaySeconds: 30
        periodSeconds: 5
        timeoutSeconds: 5
        failureThreshold: 5
        httpGet:
          path: /readyz
          port: 8081
      service:
        type: ClusterIP
        port: 8443
        targetPort: metrics
      serviceAccount:
        name: ''
      env: []
      extraVolumes: []
      extraVolumeMounts: []
      extraArgs: []
      terminationGracePeriodSeconds: 10
  controller:
    deploymentMode: Knative
    gateway:
      domain: example.com
      additionalIngressDomains: []
      domainTemplate: '{{ .Name }}-{{ .Namespace }}.{{ .IngressDomain }}'
      pathTemplate: ''
      urlScheme: http
      disableIstioVirtualHost: false
      disableIngressCreation: false
      localGateway:
        gateway: knative-serving/knative-local-gateway
        gatewayService: knative-local-gateway.istio-system.svc.cluster.local
        knativeGatewayService: ''
      ingressGateway:
        enableGatewayApi: false
        kserveGateway: kserve/kserve-ingress-gateway
        createGateway: false
        gateway: knative-serving/knative-ingress-gateway
        className: istio

